
* {
    margin:0;
    padding:0;
}



html, body
{
    width: 100%;
    min-height: 100%;
    height: 100%;
    font-family: 'arial', 'verdana', sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #555;
    background-color: #b8dde3;
    background-image: image-url("background.gif");
    background-repeat: 0 0;
}

a {
    color:#4B6F7D;
}

h1,h2
{
    font-family:"HelveticaNeueCyrThin";
    color:#555;
    font-size:30px;
    line-height: 30px;
    font-weight:normal;
    text-shadow: 0px 1px 0 #fff;
    margin-bottom: 20px;
}

.clear
{
    height:0;
    line-height:0;
    font-size:0;
    clear:both;
}

.hide
{
	display: none;
}

div.input-wrap 
{
  height: 24px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 24px;
	background-image: image-url("mini_bulged_white_left.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-left: 6px;
}

div.input-wrap div
{
	background-image: image-url("mini_bulged_white_right.png");
	background-repeat: no-repeat;
	background-position: right 0;
	padding: 0 6px 0 0;
}

div.input-wrap div div
{
	background-image: image-url("mini_bulged_white_center.png");
	background-repeat: repeat-x;
	background-position: 0 0;
	padding: 0;
	height: 24px; 
}

div.input-wrap div div input
{
	width: 194px;
	background-color: transparent;
	border: 0 solid transparent;
	outline: 0;
	height: 22px;
	padding: 1px 0;
	color: #555;
}



/*
*MAIN
*/

#carcas
{
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-image: image-url("top_background_gradient.png");
	background-repeat: repeat-x;
	background-position: 0 0;
}


/* Header */

div.header
{
	width: 900px;
	margin: 0 auto;
  padding: 10px 0;
}

div.header div.navigation {
	text-align: right;
}

div.header div.navigation a
{
	text-decoration: none;
	font-weight: bold;
	margin-right: 20px;
  color: #555;
}

div.logo
{
	width: 235px;
	height: 57px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 57px;
}

div.search
{
	position: relative;
	height: 57px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 57px;
  margin: 16px 0 0 160px;
}

div.search.hide div.input-wrap 
{
  background-image: image-url("mini_bulged_left.png");
}

div.search.hide div.input-wrap div
{
  background-image: image-url("mini_bulged_right.png");
}

div.search.hide div.input-wrap div div
{
  background-image: image-url("mini_bulged_center.png"); 
}

div.search div.lupa
{
  background-image: image-url("lupa.png");
  position: absolute;
  width: 17px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: 0;
  margin: 4px 0 0 6px;
}

div.search.hide div.lupa
{
  background-image: image-url("lupa_white.png");
}

div.search.hide div div div input
{
	color: #fff;
}

div.search div div div input {
  width: 130px;
  margin-left: 22px;
  color: #555;
}

div.search div div div input:-moz-placeholder { color: #fff; }
div.search div div div input::-webkit-input-placeholder { color: #fff; }

div.search-result {
  position: relative;
  padding-top: 5px;
  margin: -5px 1px 0 1px;
  background-color: #fff;
  max-height: 390px;
  overflow-y: auto;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.3);
}

div.search-result-item {
  padding: 3px 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ebebeb;
  cursor: pointer;
  font-size: 0;
}

div.search-result-item div {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-size: 12px;
}

div.search-result-item-teams {
  width: 70%;
}

div.search-result-item-date {
  width: 30%;  
}

div.search-result-item-date p {
  text-align: right;
}

div.search-result-item:hover {
  background-color: #fff;
}

div.search-result-item p a {
  color: #555;
  text-decoration: none;
}

div.search-result-championship-title {
  padding: 3px 10px;
  background-color: #ffdd3f;
  text-decoration: none;
  cursor: pointer;
}

div.search-result-championship-title span {
  margin: 0 3px;
}

div.search-result-championship-title span.search-result-championship-title-sport {
  font-weight: bold;
}









/* Sport Menu */

div.sport-menu
{
	margin: 5px 0 10px;
}

div.sport-menu-items
{
	margin-top: -2px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

div.sport-menu-items div
{
	background-repeat: no-repeat;
	background-position: right 0;
}

div.sport-menu-items div div
{
	height: 38px;
	padding: 4px 0;
	background-repeat: repeat-x;
	background-position: 0 0;
}

div.sport-menu-items div div div
{
	padding: 0;
	height: auto;
	background: none;
}

ul.sport-menu-items-container {
  font-size: 0;
}

ul.sport-menu-items-container li
{
	height: 34px;
	padding: 2px 0;
  margin-right: 2px;
  min-height: 34px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 34px;
  line-height: 34px;
  font-size: 16px;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

ul.sport-menu-items-container li p {
  padding: 0 20px;
}

ul.sport-menu-items-container li.active,
ul.sport-menu-items-container li:hover {
  background-color: #f9f9f9;
}

ul.sport-menu-items-container li div.sport-menu-item-countries {
  display: none;
  margin-top: -3px;
  padding: 20px 20px 10px;
  position: absolute;
  background-color: #f9f9f9;
  font-size: 0;
  -webkit-border-radius: 6px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 6px;
  -moz-border-radius-topleft: 0;
  border-radius: 6px;
  border-top-left-radius: 0;
  -webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.3);
  z-index: 20;
}

ul.sport-menu-items-container li:hover div.sport-menu-item-countries {
  display: block;
}

ul.sport-menu-items-container li div.sport-menu-item-countries div.sport-menu-blocks {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-size: 12px;
  margin-left: 20px;
}

ul.sport-menu-items-container li div.sport-menu-item-countries div.sport-menu-blocks:first-child {
  margin-left: 0;
}

ul.sport-menu-items-container li div.sport-menu-item-countries div.sport-menu-blocks div {
  line-height: 12px;
  padding: 0;
  margin-bottom: 10px;  
}

ul.sport-menu-items-container li div.sport-menu-item-countries div.sport-menu-blocks div p {
  padding: 0;
  color: #dedede;
}

ul.sport-menu-items-container li div.sport-menu-item-countries div.sport-menu-blocks div p.alphabet {
  margin-bottom: 10px;  
}

ul.sport-menu-items-container li div.sport-menu-item-countries div.sport-menu-blocks div a {
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
}




/* Content */

div.content
{
	width: 900px;
	margin: 0 auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.5);
}

div.content-top
{
	padding-left: 11px;
	background-image: image-url("main_convex_left_top.png");
	background-repeat: no-repeat;
	background-position: 0 0;	
}

div.content-top div
{
	padding: 0 11px 0 0;
	background-image: image-url("main_convex_right_top.png");
	background-repeat: no-repeat;
	background-position: right 0;
}

div.content-top div div
{
	padding: 0;
	height: 13px;
	background-image: image-url("main_convex_top.png");
	background-repeat: repeat-x;
	background-position: 0 0;
}

div.content-bottom
{
	padding-left: 11px;
	background-image: image-url("main_convex_left_bottom.png");
	background-repeat: no-repeat;
	background-position: 0 bottom;	
}

div.content-bottom div
{
	padding: 0 11px 0 0;
	background-image: image-url("main_convex_right_bottom.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}

div.content-bottom div div
{
	padding: 0;
	height: 13px;
	background-image: image-url("main_convex_bottom.png");
	background-repeat: repeat-x;
	background-position: 0 bottom;
}

div.content-body
{
	padding: 7px 20px;
	background-color: #ebebeb;
	font-size: 0;
}



div.events,
div.favorites,
div.optional, 
div.country-menu
{
	display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-size: 12px;
}

div.events
{
	width: 615px;
}

div.events-content,
div.favorites-content,
div.manager-league-content,
div.bookmaker-rating-content
{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.5);
}

div.events-content-top,
div.favorites-content-top,
div.manager-league-content-top,
div.bookmaker-rating-content-top
{
	padding-left: 6px;
	background-image: image-url("sec_convex_left_top.png");
	background-repeat: no-repeat;
	background-position: 0 0;	
}

div.events-content-top div,
div.favorites-content-top div,
div.manager-league-content-top div,
div.bookmaker-rating-content-top div
{
	padding: 0 6px 0 0;
	background-image: image-url("sec_convex_right_top.png");
	background-repeat: no-repeat;
	background-position: right 0;
}

div.events-content-top div div,
div.favorites-content-top div div,
div.manager-league-content-top div div,
div.bookmaker-rating-content-top div div
{
	padding: 0;
	height: 6px;
	background-image: image-url("sec_convex_top.png");
	background-repeat: repeat-x;
	background-position: 0 0;
}

div.events-content-bottom,
div.favorites-content-bottom,
div.manager-league-content-bottom,
div.bookmaker-rating-content-bottom
{
	padding-left: 6px;
	background-image: image-url("sec_convex_left_bottom.png");
	background-repeat: no-repeat;
	background-position: 0 bottom;	
}

div.events-content-bottom div,
div.favorites-content-bottom div,
div.manager-league-content-bottom div,
div.bookmaker-rating-content-bottom div 
{
	padding: 0 6px 0 0;
	background-image: image-url("sec_convex_right_bottom.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}

div.events-content-bottom div div,
div.favorites-content-bottom div div,
div.manager-league-content-bottom div div,
div.bookmaker-rating-content-bottom div div
{
	padding: 0;
	height: 6px;
	background-image: image-url("sec_convex_bottom.png");
	background-repeat: repeat-x;
	background-position: 0 bottom;
}

div.events-content-body,
div.favorites-content-body,
div.manager-league-content-body,
div.bookmaker-rating-content-body
{
	background-color: #f9f9f9;
}

div.events-content-body,
div.favorites-content-body {
  padding: 14px 20px;
}

div.events-content-body {
  min-height: 500px;
}



/* Chmapionships list */
.championships-list {
  font-size: 12px;
}




/* Event */

div.event-group
{
	margin-bottom: 30px;
}

div.event-group-date
{
	float: left;
	width: 70px;
	height: 42px;
	padding-top: 15px;
	margin-left: -78px;
  margin-top: -4px;
	background-image: image-url("date_background.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

div.event-group-date p
{
	text-align: center;
	font-size: 12px;
	text-shadow: 0px 1px 0 #fff;
}

div.event-group-date p:first-child
{
	font-size: 26px;
}

div.event-block div.event-sport-country-championship {
  margin-bottom: 5px;
  font-weight: bold;
} 

div.event-block div.event-sport-country-championship p {
  float: right;  
}

div.event-block div.event-sport-country-championship span {
  font-weight: normal;  
}

div.event
{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    0px 1px 1px rgba(50, 50, 50, 0.3);
	box-shadow:         0px 1px 1px rgba(50, 50, 50, 0.3);
	background-color: #fff;
	margin-bottom: 5px;
}

div.event-title
{
	padding: 12px 20px;
	font-size: 0;
	cursor: pointer;
}

div.hot-matches div.event-title
{
  padding: 8px 20px;
}

p.event-sport-title {
  font-weight: bold;
  margin-bottom: 5px;  
}

div.event-part { width: 255px; }

div.event-part,
div.event-border
{
	font-size: 16px;
	display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;	
}


div.hot-matches div.event-part,
div.hot-matches div.event-border {
  font-size: 14px;
}


div.hot-matches div.event-part { 
  overflow: hidden;
  height: 16px;
  width: 215px;
}

div.event-part:first-child { text-align: right; }

div.event-border { width: 25px; text-align: center; }
div.event-date { float: left;}

div.event-show-full,
div.event-hide-full {
	float: right;
	width: 17px;
	height: 12px;
	margin: 3px 0 0 0;
}

div.event-full-content {
  overflow: hidden;
  height: 0;  
}

div.event-show-full { 
	background-image: image-url("pointer_down.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

div.event-hide-full { 
	background-image: image-url("pointer_top.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

div.event-graph {
  display: none;
  position: absolute;
  width: 400px;
  height: 300px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 1px 2px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.5);
}








div.tabs {
  overflow: hidden;
  height: 0;
}

div.tabs-title div.tab-title-item {
  margin-left: -10px;
  padding-left: 16px;
  background-image: image-url("bet_tab_left.png");
  background-repeat: no-repeat;
  background-position: 0 0;
	display: -moz-inline-stack;
	display: inline-block;
  *display: inline;
	vertical-align: top;
	zoom: 1;
	position: relative;
  text-shadow: 0px 1px 0 #fff;
  font-size: 12px;
  cursor: pointer;
}

div.tabs-title div.tab-title-item div {
  padding: 0 16px 0 0;
  background-image: image-url("bet_tab_right.png");
  background-repeat: no-repeat;
  background-position: right 0;
}

div.tabs-title div.tab-title-item div div {
  padding: 0 15px;
  height: 24px;
  background-image: image-url("bet_tab_center.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #555;
  font-weight: bold;
}

div.tabs-title div.tab-title-item.active {
  background-image: image-url("bet_tab_left_active.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  z-index: 15;
}

div.tabs-title div.tab-title-item.active div {
  background-image: image-url("bet_tab_right_active.png");
  background-repeat: no-repeat;
  background-position: right 0;
}

div.tabs-title div.tab-title-item.active div div {
  background-image: image-url("bet_tab_center_active.png");
  background-repeat: repeat-x;
  background-position: 0 0;
}


div.tabs-title div.tab-title-item:first-child { margin-left: 0; }



div.tab-title-item-1 { z-index: 10; }
div.tab-title-item-2 { z-index: 9; }
div.tab-title-item-3 { z-index: 8; }
div.tab-title-item-4 { z-index: 7; }
div.tab-title-item-5 { z-index: 6; }
div.tab-title-item-6 { z-index: 5; }
div.tab-title-item-7 { z-index: 4; }
div.tab-title-item-8 { z-index: 3; }
div.tab-title-item-9 { z-index: 2; }
div.tab-title-item-10 { z-index: 1; }

div.tab-content { display: none; }
div.tab-content.active { display: block; }

div.coefficients-table table { width: 100%; }
div.coefficients-table table tr th { 
	height: 28px;
	background-image: image-url("bet_coef_table_background.png");
	background-repeat: repeat-x;
	background-position: 0 0;
	vertical-align: middle;
	font-weight: bold;
	text-shadow: 0px 1px 0 #fff;
	padding: 0 10px;
}

div.coefficients-table table tr th:first-child {
	text-align: left;
}

div.coefficients-table table tr td {
	padding: 2px 10px;
	border: 1px solid #d7d7d7;
	font-weight: bold;
}

div.coefficients-table table tr td.td1 { width: 40%; }

div.coefficients-table table tr.odd td {
	background-color: #cdecf1;
}

div.coefficients-table table tr.odd td.main_coeff {
  width: 36px;
  cursor: pointer;
}

div.coefficients-table table tr.odd td.opt_coeff {
  width: 70px;
  cursor: pointer;
}

div.hot-matches div.coefficients-table table tr.odd td.main_coeff,
div.hot-matches div.coefficients-table table tr.odd td.opt_coeff {
  cursor: default;
}

div.coefficients-table table tr.odd td.main_coeff:hover,
div.coefficients-table table tr.odd td.opt_coeff:hover {
  background-color: #ffdd3f;
}

div.hot-matches div.coefficients-table table tr.odd td.main_coeff:hover,
div.hot-matches div.coefficients-table table tr.odd td.opt_coeff:hover {
  background-color: #cdecf1;
}

div.coefficients-table table tr.odd td.main_coeff:hover div.event-graph,
div.coefficients-table table tr.odd td.opt_coeff:hover div.event-graph {
  display: block;
}

div.coefficients-table table tr td span.coef-position {
	width: 11px;
	height: 8px;
	display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  margin: 5px 0 0 3px; 
}

div.coefficients-table table tr td span.coef-position.up {
	background-image: image-url("coef-up.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

div.coefficients-table table tr td span.coef-position.down {
	background-image: image-url("coef-down.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}

div.add-championship-to-manager-leagues {
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

div.add-championship-to-manager-leagues:hover {
  text-decoration: none;
}












/* Menu */

div.country-menu { width: 245px; margin-left: -3px; }

div.country-menu h1 { margin-left: 20px; }

div.country-menu ul li.active div.country-menu-item {
	margin: 2px 3px 2px 0;
	-webkit-border-radius: 0 6px 6px 0;
	-moz-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.5);
	background: none;
	text-shadow: 0px 1px 0 #fff;
	cursor: pointer;
}

div.country-menu ul { margin-top: 20px; margin-right: -3px; }

div.country-menu ul li { overflow: hidden; cursor: pointer; }

div.country-menu ul li.active div.country-menu-item-top
{
	padding-right: 6px;
	background-image: image-url("sec_convex_right_top.png");
	background-repeat: no-repeat;
	background-position: right 0;	
}

div.country-menu ul li.active div.country-menu-item-top div
{
	padding: 0;
	height: 6px;
	background-image: image-url("sec_convex_top.png");
	background-repeat: repeat-x;
	background-position: 0 0;
}

div.country-menu ul li.active div.country-menu-item-bottom
{
	padding-right: 6px;
	background-image: image-url("sec_convex_right_bottom.png");
	background-repeat: no-repeat;
	background-position: right bottom;	
}


div.country-menu ul li.active div.country-menu-item-bottom div
{
	padding: 0;
	height: 6px;
	background-image: image-url("sec_convex_bottom.png");
	background-repeat: repeat-x;
	background-position: 0 bottom;
}

div.country-menu ul li div.country-menu-item-body
{
	padding: 11px 20px 11px 10px;
	margin: 0 3px 0 10px;
	line-height: 18px;
	font-size: 15px;
	background-image: image-url("menu_border.png");
	background-repeat: repeat-x;
	background-position: 0 top;
}

div.country-menu ul li:first-child div.country-menu-item-body,
div.country-menu ul li div.country-menu-item-body.no-border
{
	background-image: none;
}

div.country-menu ul li.active div.country-menu-item-body
{
	padding: 3px 20px;
	margin: 0;
	background: #f9f9f9;
	
}

div.country-menu ul li ul
{
	margin: 0;
}

div.country-menu ul li ul li { 
	margin: 0;
	padding: 6px 20px;
}

div.country-menu ul li ul li a {
  text-decoration: none;
  color: #555;  
}

div.country-menu ul li ul li.active a,
div.country-menu ul li ul li:hover a
{
	color: #000;
}

div.country-menu ul li div.country-submenu
{
	display: none;
	margin: -1px 10px 2px 0;
	-webkit-border-radius: 0 0 6px 0;
	-moz-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
	-webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    0px 1px 2px rgba(50, 50, 50, 0.5);
	box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.5);
	text-shadow: 0px 1px 0 #fff;
	cursor: pointer;
}

div.country-menu ul li.active div.country-submenu
{
	display: block;
}

div.country-menu ul li div.country-submenu div.country-submenu-body
{
	background-color: #e1e1e1;
}

div.country-menu ul li div.country-submenu div.country-submenu-bottom
{
	padding-right: 5px;
	background-image: image-url("submenu_right_bottom.png");
	background-repeat: no-repeat;
	background-position: right bottom;	
}


div.country-menu ul li div.country-submenu div.country-submenu-bottom div
{
	padding: 0;
	height: 6px;
	background: #e1e1e1;
}











/* Footer */
div.footer
{
  height: 100px;
	width: 900px;
	margin: 0 auto;
}

div.footer div.cop {
  margin-top: 42px;
  margin-left: 20px;
  float:left;
}

div.footer div.social {
  width: 94px;
  margin-top: 35px;
  margin-right: 20px;
  float: right;
  font-size: 0;
}

div.footer .fb,
div.footer .tw {
  width: 29px;
  height: 29px;
  padding: 4px;
  margin-left: 10px;
  background-color: #ebebeb;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

div.footer .fb {
  background-position: center 6px;
  background-image: image-url("facebook.png");
}

div.footer .tw {
  background-position: center 7px;
  background-image: image-url("twitter.png");
}

div.footer .fb:hover {
  background-position: center -28px;
}

div.footer .tw:hover {
  background-position: center -27px;
}












/* Loginbox */
.fancybox-wrap-1
{
	position: static !important;
	margin-top: 10px !important;
}

#loginbox
{
	position: absolute;
	top: 10px;
	width: 247px;
	-webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.5);
	z-index: 16;
}

div.loginbox-content-top
{
	padding-left: 11px;
	background-image: image-url("main_convex_left_top.png");
	background-repeat: no-repeat;
	background-position: 0 0;	
}

div.loginbox-content-top div
{
	padding: 0 11px 0 0;
	background-image: image-url("main_convex_right_top.png");
	background-repeat: no-repeat;
	background-position: right 0;
}

div.loginbox-content-top div div
{
	padding: 0;
	height: 13px;
	background-image: image-url("main_convex_top.png");
	background-repeat: repeat-x;
	background-position: 0 0;
}

div.loginbox-content-bottom
{
	padding-left: 11px;
	background-image: image-url("main_convex_left_bottom.png");
	background-repeat: no-repeat;
	background-position: 0 bottom;	
}

div.loginbox-content-bottom div
{
	padding: 0 11px 0 0;
	background-image: image-url("main_convex_right_bottom.png");
	background-repeat: no-repeat;
	background-position: right bottom;
}

div.loginbox-content-bottom div div
{
	padding: 0;
	height: 13px;
	background-image: image-url("main_convex_bottom.png");
	background-repeat: repeat-x;
	background-position: 0 bottom;
}

div.loginbox-content-body
{
	padding: 0 20px;
	background-color: #ebebeb;
}

p.loginbox-title
{
	font-family: "HelveticaNeueCyrThin";
	font-size: 16px;
	margin-bottom: 16px;
}

div.loginbox-close
{
	width: 14px;
	height: 14px;
  padding: 1px;
	float: right;
	background-image: image-url("close.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;
	margin-right: -5px;
}

div.loginbox-content-body form div.input-wrap
{
	margin-bottom: 10px;
}

p.loginbox-input-error
{
	font-weight: bold;
	color: red;
	margin-top: -5px;
	margin-bottom: 10px;
}

div.loginbox-input-error-container p.novalid
{
	display: block;
}

div.loginbox-remember
{
	font-size: 0;
	margin-bottom: 10px;
}

div.loginbox-content-body form div p {
	display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  font-size: 12px;
}

div.loginbox-content-body form div p button {
	margin-top: 6px;
  width: 80px;
  height: 24px;
}

p.loginbox-forgot {
	float: right;
}

div.loginbox-remember p:first-child
{
	margin: 2px 5px 0 0;
}












/* registration */

#registration
{
	position: absolute;
	top: 10px;
	width: 247px;
	-webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.5);
	z-index: 16;
}

#registration div.loginbox-content-body form div p button {
  width: 150px;
}






/* profile */

#profile
{
  position: absolute;
  top: 10px;
  width: 247px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.5);
  -moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.5);
  box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.5);
  z-index: 16;
}

div.profile-data > div {
  margin-bottom: 8px;
} 

div.profile-data div.profile-data-login {
  font-size: 14px;
  margin-bottom: 20px;
}

div.profile-data label input {
  float: left;
  margin: 2px 5px 0 0;
}

#profile div.loginbox-content-body form div p button {
  width: 150px;
}







/* Overlay */
#overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	z-index: 15;
}







/* favorites */
div.favorites {
  width: 615px;
  margin-right: 17px;
}

div.favorites div.tabs {
  margin-bottom: 15px;
}

div.hot-matches {
  position: relative;
  padding: 15px 20px;
  background-color: #fde577;
  -webkit-border-radius: 2px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 2px;
  -moz-border-radius-topleft: 0;
  border-radius: 2px;
  border-top-left-radius: 0;
}

div.hot-matches-group {
  margin-bottom: 10px;
}

.hot-matches-left,
.hot-matches-right {
  position: absolute;
  width: 35px;
  height: 100%;
  opacity: 0.2;
  left: 0;
  top:0;
  cursor: pointer;
  background-image: image-url("hot-matches-left.png");
  background-repeat: no-repeat;
  background-position: 4px center;
}

.hot-matches-right {
  right: 0;
  left: auto;
  background-image: image-url("hot-matches-right.png");
  background-position: 7px center;
}

.hot-matches-left:hover div,
.hot-matches-right:hover div {
  opacity: 0.5;
}

.hot-matches-left div,
.hot-matches-right div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #555;
  opacity: 0.3;
  left: 0;
  top:0;
}






/* optional */
div.optional { width: 225px; }















/* manager league */

div.manager-league {
  margin-bottom: 20px;  
}

div.country-menu div.manager-league {
  margin-left: 20px;
}

div.manager-league-content-body {
  padding: 0 0 10px;  
}

div.manager-league-title {
  margin: 0 15px 5px;
  font-weight: bold;
}

div.manager-league-sport {
  margin-bottom: 1px;
}

div.manager-league-sport div.manager-league-sport-title {
  padding: 3px 15px;
  background-color: #ffdd3f;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

div.manager-league-sport div.manager-league-sport-title.hidden-leagues {
  background-image: image-url("manager_leagues_down.png");
  background-repeat: no-repeat;
  background-position: 200px center;
}

div.manager-league-sport div.manager-league-sport-title.visibled-leagues {
  background-image: image-url("manager_leagues_up.png");
  background-repeat: no-repeat;
  background-position: 200px center;
}

div.manager-league-sport div.manager-league-sport-title:hover {
  text-decoration: underline;
}

div.manager-league-championships {
  height: 0;
  overflow: hidden;
}

div.manager-league-championship {
  position: relative;
  padding: 3px 15px; 
}

div.manager-league-championship a {
  text-decoration: none;
}

div.manager-league-championship a:hover {
  text-decoration: underline;
}

div.manager-league-championship-delete {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 15px;
  top: 6px;
  background-image: image-url("close_mini.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

div.manager-league-edit {
  margin-top: 15px;
  padding: 0 20px;
}

div.manager-league-clear {
  padding: 0 20px; 
}







/* bookmakers rating */
div.bookmaker-rating-content-body {
  padding: 0 15px;  
}

div.bookmaker-rating-content-body p {
  font-weight: bold;
}

div.bookmaker-rating-content-body p span {
  float: right;  
}

div.bookmaker-rating-title {
  margin: 0 0 5px;
  font-weight: bold;  
}
