<div class="favorites">
  <div class="favorites-content">
    <div class="favorites-content-top"><div><div></div></div></div>
    <div class="favorites-content-body">
      <div class="welcome" style="margin-bottom: 20px;">
        <div class="welcome-title" style="font-size: 18px;"><span style="font-size: 25px;">Betlog</span> - сервис мониторинга букмекерских коэффициентов</div>
        <div style="margin-top: 15px;">
          <p>- собирай и анализируй данные букмекеров на спортивные состязания</p>
          <p>- следи за изменениями данных кофэффициентов</p>
          <p>- выбирай у какого букмекера хочешь сделать ставку</p>
        </div>
      </div>
      <p style="font-size: 25px; margin-bottom: 20px;">Избранные чемпионаты</p>
      <div class="hot-matches" style="margin: 20px -20px 0; padding: 15px 60px;" ng-controller="FavoriteEvents">
        <div class="jcarousel-wrapper">
          <div class="jcarousel" jcarousel>
            <ul>
              <li ng-init="reloadJcarousel()" ng-repeat="championship in favorite_championships">
                <div style="font-size: 22px; margin-bottom: 8px;">{{ sport_of_championship[championship.id].name }}</div>
                <div style="font-size: 14px; margin-bottom: 15px;">{{ country_of_championship[championship.id].name }} ({{ championship.name }})</div>
                <div class="event-block" ng-repeat="event in events_of_championship[championship.id];">
                  <div id="event-{{event.id}}" class="event">
                    <div class="event-title hidden-leagues">
                      <div class="event-part" style="font-weight: bold;">
                        <div class="event-date" style="font-weight: normal;">{{ event.date_event | date:'dd.MM (HH:mm)' }}</div>{{ event.opponent_1}}</div>
                      <div class="event-border">&mdash;</div>
                      <div class="event-part" style="font-weight: bold;">{{ event.opponent_2 }}</div>
                    </div>
                    <div class="tabs" ng-controller="Coefficients" style="height: 38px;">
                      <div class="coefficients-table">
                        <table>
                          <tr>
                            <th style="height: 15px; text-align: center; background-image: none;">1</th>
                            <th style="height: 15px; text-align: center; background-image: none;">x</th>
                            <th style="height: 15px; text-align: center; background-image: none;">2</th>
                          </tr>
                          <tr class="odd">
                            <td class="main_coeff" style="text-align: center;">
                              {{ max_coefficient_of_event[event.id].first }} ({{getBookmaker(max_coefficient_of_event[event.id].bookmaker_id).name}})
                            </td>
                            <td class="main_coeff" style="text-align: center;">
                              {{ max_coefficient_of_event[event.id].draw }} ({{getBookmaker(max_coefficient_of_event[event.id].bookmaker_id).name}})
                            </td>
                            <td class="main_coeff" style="text-align: center;">
                              {{ max_coefficient_of_event[event.id].second }} ({{getBookmaker(max_coefficient_of_event[event.id].bookmaker_id).name}})
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <p>» <a href="#/sport/{{ sport_of_championship[championship.id].id }}/country/{{ country_of_championship[championship.id].id }}/championship/{{ championship.id }}/events">Перейти на страницу чемпионата</a></p>
              </li>
            </ul>
          </div>
          <a href="#" class="hot-matches-left"><div></div></a>
          <a href="#" class="hot-matches-right"><div></div></a>
        </div>
      </div>
      <div style="margin-top: 20px;" ng-controller="NextEvents">
        <p style="font-size: 25px; margin-bottom: 20px;">Следующие матчи</p>
        <div class="event-block" ng-repeat="event in next_events">
          <div class="event-sport-country-championship"><p>{{event.date_event | date: 'dd.MM'}}</p>{{ sport_of_championship[championship_of_event[event.id].id].name }}<span>»</span>{{ country_of_championship[championship_of_event[event.id].id].name }}<span>»</span>{{ championship_of_event[event.id].name }}</div>
          <div id="event-{{event.id}}" class="event" ng-controller="Events">
            <div class="event-title" slide-toggle>
              <div class="event-part">
                <div class="event-date">{{ event.date_event | date:'HH:mm' }}</div>{{ event.opponent_1 }}</div>
              <div class="event-border">&mdash;</div>
              <div class="event-part">{{ event.opponent_2 }}<div class="event-show-full"></div></div>
            </div>
            <div class="tabs slideable" ng-controller="Coefficients" tabs>
              <div class="tabs-title">
                <div class="tab-title-item tab-title-item-1"><div><div>Коэффициенты</div></div></div>
                <div class="tab-title-item tab-title-item-2"><div><div>Фора/Тотал</div></div></div>
              </div>
              <div class="tab-content">
                <div class="coefficients-table">
                  <table>
                    <tr>
                      <th>Букмекеры</th>
                      <th>1</th>
                      <th>x</th>
                      <th>2</th>
                      <th>1x</th>
                      <th>12</th>
                      <th>x2</th>
                    </tr>
                    <tr class="odd" ng-repeat="coefficient in getLastGroupedCoefficientsByEvent(event)">
                      <td>{{ coefficient.bookmaker_name }}</td>
                      <td class="main_coeff">{{ coefficient.first }}<div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ 
                      coefficients_params_event_only_one_bookmaker[coefficient.id]['first'] }}" param-name="Победа первой команды"></div></td>
                      <td class="main_coeff">{{ coefficient.draw }}<div class="event-graph" event-graph dates=" {{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['draw'] }}" param-name="Ничья"></div></td>
                      <td class="main_coeff">{{ coefficient.second }}<div class="event-graph" event-graph dates=" {{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['second'] }}" param-name="Победа второй команды"></div></td>
                      <td class="main_coeff">{{ coefficient.first_or_draw }}<div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['first_or_draw'] }}" param-name="Победа первой команды или ничья"></div></td>
                      <td class="main_coeff">{{ coefficient.first_or_second }}<div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['first_or_second'] }}" param-name="Победа первой или второй команды"></div></td>
                      <td class="main_coeff">{{ coefficient.draw_or_second }}<div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['draw_or_second'] }}" param-name="Ничья или победа второй команды"></div></td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="tab-content">
                <div class="coefficients-table">
                  <table>
                    <tr>
                      <th>Букмекеры</th>
                      <th>Фора 1</th>
                      <th>Фора 2</th>
                      <th>Тотал <</th>
                      <th>Тотал ></th>
                    </tr>
                    <tr class="odd" ng-repeat="coefficient in getLastGroupedCoefficientsByEvent( event );">
                      <td>{{coefficient.bookmaker_name}}</td>
                      <td class="opt_coeff">({{coefficient.first_fora}}) {{coefficient.coeff_first_fora}}<div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['coeff_first_fora'] }}" param-name="Ничья или победа второй команды" ng-show="isLogged()"></div></td>
                      <td class="opt_coeff">({{coefficient.second_fora}}) {{coefficient.coeff_second_fora}}<div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['coeff_second_fora'] }}" param-name="Ничья или победа второй команды" ng-show="isLogged()"></div></td>
                      <td class="opt_coeff">({{coefficient.total_less}}) {{coefficient.coeff_first_total}}<div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['coeff_first_total'] }}" param-name="Ничья или победа второй команды" ng-show="isLogged()"></div></td>
                      <td class="opt_coeff">({{coefficient.total_more}}) {{coefficient.coeff_second_total}}<div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['coeff_second_total'] }}" param-name="Ничья или победа второй команды" ng-show="isLogged()"></div></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="favorites-content-bottom"><div><div></div></div></div>
  </div>
</div>
<div class="optional">
  <div class="manager-league" ng-controller="ManagerLeague">
  <div class="manager-league-content">
    <div class="manager-league-content-top"><div><div></div></div></div>
    <div class="manager-league-content-body">
      <div class="manager-league-title">Менеджер лиг</div>
      <div class="manager-league-sport" ng-repeat="sport in getSportsManagedChampionships()">
        <div class="manager-league-sport-title hidden-leagues" slide-toggle>{{sport.name}}</div>
        <div id="leagueSport{{sport.id}}" class="manager-league-championships slideable">
          <div class="manager-league-championship" ng-repeat="championship in getManagedChampionshipsBySport(sport)">
            <a href="/#/sport/{{sport.id}}/country/{{getCountryByChampionship(championship).id}}/championship/{{championship.id}}/events">{{championship.name}} ({{getCountryByChampionship(championship).name}})</a>
            <div class="manager-league-championship-delete" ng-click="remove(championship);"></div>
          </div>
        </div>
      </div>
      <div class="manager-league-clear" ng-hide="getSportsManagedChampionships().length">
        Список пуст
      </div>
    </div>
    <div class="manager-league-content-bottom"><div><div></div></div></div>
  </div>
</div>


  <div class="bookmaker-rating" ng-controller="BookmakerRating">
  <div class="bookmaker-rating-content">
    <div class="bookmaker-rating-content-top"><div><div></div></div></div>
    <div class="bookmaker-rating-content-body">
      <div class="bookmaker-rating-title">Рейтинг букмекеров</div>
      <div ng-repeat="bookmaker in getBookmakers()">
        <p>{{bookmaker.name}}<span>{{bookmaker.rating}}</span></p>
      </div>
    </div>
    <div class="bookmaker-rating-content-bottom"><div><div></div></div></div>
  </div>
</div>


<!-- VK Widget -->
<!--<div id="vk_groups"></div>
<script type="text/javascript">
  VK.Widgets.Group("vk_groups", {mode: 0, width: "180", height: "290"}, 62948918);
</script>-->
</div>