<div class="events">
  <div class="events-content">
    <div class="events-content-top"><div><div></div></div></div>
    <div class="events-content-body">
      <p style="margin-bottom: 15px;" ng-bind="active_championship.name"></p>
      
      <div class="event-group" ng-repeat="events_date in getDatesFromCmapionshipEvents(active_championship);">
        <div class="event-group-date">
          <p ng-bind="events_date | date:'d'"></p>
          <p ng-bind="events_date | date:'MMMM'"></p>
        </div>
        <div id="event-{{event.id}}" class="event" ng-repeat="event in getEventsChampionshipByEventDate(events_date, active_championship);" ng-controller="Events">
          <div class="event-title" slide-toggle>
            <div class="event-part">
              <div class="event-date" ng-bind="event.date_event | date:'HH:mm'"></div>
              <span ng-bind="event.opponent_1"></span>
            </div>
            <div class="event-border">&mdash;</div>
            <div class="event-part"><span ng-bind="event.opponent_2"></span><div class="event-show-full"></div></div>
          </div>
          <div class="tabs slideable" ng-controller="Coefficients" tabs>
            <div class="tabs-title">
              <div class="tab-title-item tab-title-item-1"><div><div>Коэффициенты</div></div></div>
              <div class="tab-title-item tab-title-item-2"><div><div>Фора/Тотал</div></div></div>
            </div>
            <div class="tab-content">
              <div class="coefficients-table">
                <table>
                  <tr>
                    <th>Букмекеры</th>
                    <th>1</th>
                    <th>x</th>
                    <th>2</th>
                    <th>1x</th>
                    <th>12</th>
                    <th>x2</th>
                  </tr>
                  <tr class="odd" ng-repeat="coefficient in getLastGroupedCoefficientsByEvent(event)">
                    <td ng-bind="coefficient.bookmaker_name"></td>
                    <td class="main_coeff">
                      <span ng-bind="coefficient.first"></span>
                      <div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ 
                      coefficients_params_event_only_one_bookmaker[coefficient.id]['first'] }}" param-name="Победа первой команды"></div>
                    </td>
                    <td class="main_coeff">
                      <span ng-bind="coefficient.draw"></span>
                      <div class="event-graph" event-graph dates=" {{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['draw'] }}" param-name="Ничья"></div>
                    </td>
                    <td class="main_coeff">
                      <span ng-bind="coefficient.second"></span>
                      <div class="event-graph" event-graph dates=" {{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['second'] }}" param-name="Победа второй команды"></div>
                    </td>
                    <td class="main_coeff">
                      <span ng-bind="coefficient.first_or_draw"></span>
                      <div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['first_or_draw'] }}" param-name="Победа первой команды или ничья"></div>
                    </td>
                    <td class="main_coeff">
                      <span ng-bind="coefficient.first_or_second"></span>
                      <div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['first_or_second'] }}" param-name="Победа первой или второй команды"></div>
                    </td>
                    <td class="main_coeff">
                      <span ng-bind="coefficient.draw_or_second"></span>
                      <div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['draw_or_second'] }}" param-name="Ничья или победа второй команды"></div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="tab-content">
              <div class="coefficients-table">
                <table>
                  <tr>
                    <th>Букмекеры</th>
                    <th>Фора 1</th>
                    <th>Фора 2</th>
                    <th>Тотал <</th>
                    <th>Тотал ></th>
                  </tr>
                  <tr class="odd" ng-repeat="coefficient in getLastGroupedCoefficientsByEvent( event );">
                      <td ng-bind="coefficient.bookmaker_name"></td>
                      <td class="opt_coeff">
                        <span>(</span>
                        <span ng-bind="coefficient.first_fora"></span>
                        <span>)</span>
                        <span ng-bind="coefficient.coeff_first_fora"></span>
                        <div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['coeff_first_fora'] }}" param-name="Ничья или победа второй команды" ng-show="isLogged()"></div></td>
                      <td class="opt_coeff">
                        <span>(</span>
                        <span ng-bind="coefficient.second_fora"></span>
                        <span>)</span>
                        <span ng-bind="coefficient.coeff_second_fora"></span>
                        <div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['coeff_second_fora'] }}" param-name="Ничья или победа второй команды" ng-show="isLogged()"></div></td>
                      <td class="opt_coeff">
                        <span>(</span>
                        <span ng-bind="coefficient.total_less"></span>
                        <span>)</span>
                        <span ng-bind="coefficient.coeff_first_total"></span>
                        <div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['coeff_first_total'] }}" param-name="Ничья или победа второй команды" ng-show="isLogged()"></div></td>
                      <td class="opt_coeff">
                        <span>(</span>
                        <span ng-bind="coefficient.total_more"></span>
                        <span>)</span>
                        <span ng-bind="coefficient.coeff_second_total"></span>
                        <div class="event-graph" event-graph dates="{{ coefficients_dates_event_one_bookmaker[coefficient.id] }}" coefficients="{{ coefficients_params_event_only_one_bookmaker[coefficient.id]['coeff_second_total'] }}" param-name="Ничья или победа второй команды" ng-show="isLogged()"></div></td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="events-content-bottom"><div><div></div></div></div>
  </div>
</div>
<div class="country-menu">
  <div class="manager-league" ng-controller="ManagerLeague">
    <div class="manager-league-content">
      <div class="manager-league-content-top"><div><div></div></div></div>
      <div class="manager-league-content-body">
        <div class="manager-league-title">Менеджер лиг</div>
        <div class="manager-league-sport" ng-repeat="sport in getSportsManagedChampionships()">
          <div class="manager-league-sport-title hidden-leagues" slide-toggle ng-bind="sport.name"></div>
          <div id="leagueSport{{sport.id}}" class="manager-league-championships slideable">
            <div class="manager-league-championship" ng-repeat="championship in getManagedChampionshipsBySport(sport)">
              <a href="/#/sports/{{sport.id}}/countries/{{getCountryByChampionship(championship).id}}/championships/{{championship.id}}" ng-bind="championship.name (getCountryByChampionship(championship).name)"></a>
              <div class="manager-league-championship-delete" ng-click="remove(championship);"></div>
            </div>
          </div>
        </div>
        <div class="manager-league-clear" ng-hide="getSportsManagedChampionships().length">
          Список пуст
        </div>
      </div>
      <div class="manager-league-content-bottom"><div><div></div></div></div>
    </div>
  </div>

  <ul>
    <li class="active">
      <div class="country-menu-item">
        <div class="country-menu-item-top"><div></div></div>
        <div class="country-menu-item-body" ng-bind="getCountryName()"></div>
        <div class="country-menu-item-bottom"><div></div></div>
      </div>
      <div class="country-submenu">
        <div class="country-submenu-body">
          <ul>
            <li ng-repeat="champship in getChampionshipsBySportAndCountry()" ng-class="{ active: getActiveChampionship().id === champship.id }" ng-click="select(champship);">
              <a href="/#/sports/{{getActiveSport().id}}/countries/{{getActiveCountry().id}}/championships/{{champship.id}}" ng-bind="champship.name"></a>
            </li>
          </ul>
        </div>
        <div class="country-submenu-bottom"><div></div></div>
      </div>
    </li>
  </ul>
  <div class="event-menu-top"><div></div></div>
</div>