@font-face {
    font-family: 'HelveticaNeueCyrThin';
    src: font-url('helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.eot');
    src: font-url('helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.woff') format('woff'),
    font-url('helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.ttf') format('truetype'),
    font-url('helveticaneuecyr-thin/helveticaneuecyr-thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyrBold';
    src: font-url('helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.eot');
    src: font-url('helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.woff') format('woff'),
    font-url('helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
    font-url('helveticaneuecyr-bold/helveticaneuecyr-bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}