<div class="footer">
  <div class="cop">© Парс, 2013—2014</div>
  <div class="social">
    <a href="#"><div class="fb"></div></a>
    <a href="#"><div class="tw"></div></a>
  </div>
</div>


<%#= render 'layouts/loginbox' %>