!!!
%html{ "ng-app" => "betlog" }
  %head
    %title Betlog
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "//vk.com/js/api/openapi.js?105"
    = csrf_meta_tags
  %body
    #carcas
      .header
        .navigation
          = link_to "", "#"
          = link_to "Войти", "#"
        .logo
          %a{"ui-sref" => "home"}
            = image_tag('logo.png', title: "Betlog")
        
        = render partial: 'layouts/search'
        = render partial: 'layouts/menu_sports'
      
      .content
        .content-top
          %div
            %div
        .content-body{"ui-view" => true}
          
        .content-bottom
          %div
            %div
      = render partial: 'layouts/footer'

    = javascript_include_tag "application"